<h1>Rehome an Animal</h1>

<form asp-method="post" asp-action="AddAnimal">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" />

    <label for="Description">Description</label>
    <input type="text" id="Description" name="Description" />

    <label for="Breed">Breed</label>
    <input type="text" id="Breed" name="Breed" />

    <label for="Age">Age</label>
    <input type="number" id="Age" name="Age" />

    <label for="Img">Img</label>
    <input type="text" id="Img" name="Img" />

    <label for="Species">Species</label>
    <input type="text" id="Species" name="Species" />

    <input type="submit" />

    
</form>